<div class="alert alert-warning alert-dismissible fade in comment-warning">
	<button type="button" class="close" data-dismiss="alert">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	The comment content can't be blank!
</div>